body{
    background: #191919 !important;
}

#vid{
    filter: brightness(.05);
    transition: .5s ease-in-out;
}

/* Style for the audio element */
#audio{
    width: 70%;
}

#audio::-webkit-media-controls-panel{
    background-color: #788F9C;
}
/* adjusting ready button style displayed in the intro screen */
/* #readybtn {
    background: #4729a8;
    border: none;
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -70%);
    z-index: 9999;
    border-radius: 10px;
    transition: 1s ease-in-out;
    color: #ccc;
    padding: 10px 20px;
    font-size: 21px;
  }
  #readybtn:hover {
    color: #fff;
  } */

  .intro{
    background-color: #000;
  }

  .intro img{
    margin-top: 180px;
    width: 100%;
  }

.play-button {
    width: 100px;
    height: 100px;
    background-color: rgb(160, 160, 160);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -70%);
    margin-top: 120px;
    z-index: 99;
    transition: 0.3s ease-in-out;
}
  
.play-button-icon {
    fill: rgb(40, 40, 40);
    width: 70%;
    height: 70%;
}

.play-button:hover{
    background-color: rgb(200, 200, 200);
}
  
/* Style for the 'timeline-steps' and 'timeline-step' elements */

.timeline-steps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* background: #96b1c1c7; */
    padding: 2rem 0 0rem 0;
    margin-bottom: 1rem;
    border-radius: 30px;
    color: #fff;
}

.timeline-steps .timeline-step {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1rem;
    transition: .4s ease-in-out;
}
/* adjusting responsivness */
@media (min-width:768px) {
    .timeline-steps .timeline-step:not(:last-child):after {
        content: "";
        display: block;
        border-top: .25rem dotted #4f4f4f;
        width: 3.46rem;
        position: absolute;
        left: 7.5rem;
        top: .3125rem
    }
    .timeline-steps .timeline-step:not(:first-child):before {
        content: "";
        display: block;
        border-top: .25rem dotted #4f4f4f;
        width: 3.8125rem;
        position: absolute;
        right: 7.5rem;
        top: .3125rem
    }
}

.timeline-steps .timeline-content {
    width: 10rem;
    text-align: center
}

.timeline-steps .timeline-content .inner-circle {
    border-radius: 1.5rem;
    height: 1rem;
    width: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #ED2C26
}
.timeline-steps .timeline-content .inner-circle:before {
    content: "";
    background-color: #00A351;
    display: inline-block;
    height: 3rem;
    width: 3rem;
    min-width: 3rem;
    border-radius: 6.25rem;
    opacity: .85
}
/* adjusting the timeline color for each country */
.timeline-steps .timeline-step2 .timeline-content .inner-circle {
    background-color: #d11b1b
}
.timeline-steps .timeline-step2 .timeline-content .inner-circle:before {
    background-color: rgb(189, 189, 189);
}
.timeline-steps .timeline-step3 .timeline-content .inner-circle {
    background-color: #477047
}
.timeline-steps .timeline-step3 .timeline-content .inner-circle:before {
    background-color: #477047;
}
.timeline-steps .timeline-step4 .timeline-content .inner-circle {
    background-color: #477047
}
.timeline-steps .timeline-step4 .timeline-content .inner-circle:before {
    background-color: #f39338;
}
.timeline-steps .timeline-step5 .timeline-content .inner-circle {
    background-color: #834848
}
.timeline-steps .timeline-step5 .timeline-content .inner-circle:before {
    background-color: #f83f3c;
}

.disabled{
    filter: opacity(.5);
}
.next_country:hover{
    filter: opacity(.9);
}

.parallax_image{
    height: 800px;
    transition: .7s ease-in-out;
}